<p>


<h3>Language</h3>
<?php
    $langList = Configure::read('lang');
    $langId = $this->request->data['Infomation']['lang'];
    echo $langList[$langId];
?><br>
<br>

<h3>Date</h3>
<?php echo $this->request->data['Infomation']['date']['year']; ?>/
<?php echo $this->request->data['Infomation']['date']['month']; ?>/
<?php echo $this->request->data['Infomation']['date']['day']; ?><br>
<br>

<h3>Title</h3>
<?php echo $this->request->data['Infomation']['title']; ?><br>
<br>

<h3>Message</h3>
<?php echo $this->request->data['Infomation']['message']; ?><br>
<br>

<?php
    echo $this->Form->create('Infomation', array('action'=>'regist'));

/*
    echo '<br><br>';
    echo '<h3>* GAE account</h3>';
    echo 'Enter GAE account.. <br><br>';
    echo '<h4>GAE account</h4>';
    echo $this->Form->email('email');
    echo '<h4>GAE account passwd</h4>';
    echo $this->Form->password('passwd');
*/
    echo $this->Form->hidden('Infomation.type', array('value'=>$this->request->data['Infomation']['type']));
    echo $this->Form->hidden('Infomation.lang', array('value'=> $this->request->data['Infomation']['lang']));
    echo $this->Form->hidden('Infomation.title', array('value'=> $this->request->data['Infomation']['title']));
    echo $this->Form->hidden('Infomation.message', array('value'=> $this->request->data['Infomation']['message']));
    echo $this->Form->hidden('Infomation.date', array('value'=> $this->request->data['Infomation']['date']['year'] . '/' .
                                                                $this->request->data['Infomation']['date']['month'] . '/' .
                                                                $this->request->data['Infomation']['date']['day']));
    echo $this->Form->submit('regist');
?>

</p>
</div>

