
<p>
<?php
    echo $this->Session->flash();
?>
<?php
    echo $this->Form->create('Infomation', array('action'=>'confirm'));
    echo $this->Form->hidden('Infomation.type', array('value' => $this->request->params['named']['type']));
    echo $this->Form->input('Infomation.lang', array('type' => 'select', 
                                                           'default' => 'jp', 
                                                           'options' => Configure::read('lang')));
    echo $this->Form->input('Infomation.date');
    echo $this->Form->input('Infomation.title');
    echo $this->Form->input('Infomation.message');
    echo $this->Form->submit('confirm');
?>
</p>
</div>


