*{
margin: 0;
padding: 0;
}


#wrapper{
    background: #ffffff;
    text-align: left;
    width: 95%;
    margin: 0 auto;
}

#customHeader{
height: 150px;
}

#container{
width: 100%;
float: right;
margin-left: -180px;
}

#contents{
position: relative;
margin: 0 30px 0 210px;
padding: 4em 0;
}

#sidebar{
width: 180px;
float: left;
}

#customFooter{
clear: both;
width: 100%;
text-align: center;
}

#customFooter p{
padding: 0.5em 0;
}

#topnavi{
position: absolute;
top: 0;
left: 0;
width: 100%;
padding: 0.5em 0;
}

#undernavi{
position: absolute;
bottom: 0;
left: 0;
text-align: right;
margin-right: 2em;
width: 100%;
padding: 0.5em 0;
}



#menu {
    list-style-type:none;
    width:100%;
    padding:0;
    margin:0;
}
#menu ul {
    list-style-type:none;
    padding:0;
    margin:0;
}
#menu li {
    float:left;
    background:#999999;/*ダウンボタンのカラー*/
    margin:1px 1px 0 0;
    position:relative;
}
#menu li.sub {
    background:#cccccc;
}
#menu li, #menu li a {
    display:block;
    color:#111111;
    font-family:arial, sans-serif;
    font-size:20px;
    line-height:40px;
    width:200px;
    text-decoration:none;
    text-align:center;
    cursor:pointer;
    font-weight:bold;
}
#menu li:hover, #menu li a:hover {
    background:#666666;
    color:#ffffff;
}
#menu ul {
    position:absolute;
    left:-9999px;
    width:128px;
}
#menu li.click {
    background:#111111;/*ボタンをクリックしたときの背景色*/
    color:#ffffff;
}
#menu li.click ul{
    left:0;
    top:41px;/*クリックしたときにダウンボタンの始まる位置*/
}
