
<p>


<?php

    if (Configure::read('useInfomation')) {
            echo $this->Html->link( 'インフォメーション テスト', array(
                                    'controller' => 'Infomations', 
                                    'action' => 'index',
                                    'type' => '1'));
            echo "<br>";
            echo $this->Html->link( 'インフォメーション 本番', array(
                                    'controller' => 'Infomations', 
                                    'action' => 'index',
                                    'type' => '2'));
            echo "<br>";
    }

    if (Configure::read('usePush')) {
            echo $this->Html->link( 'プッシュ通知　テスト送信', array(
                                    'controller' => 'IosPushes', 
                                    'action' => 'condition',
                                    'type' => '1'));
            echo "<br>";
            echo $this->Html->link( 'プッシュ通知　本番', array(
                                    'controller' => 'IosPushes', 
                                    'action' => 'condition',
                                    'type' => '2'));
            echo "<br>";
    }

?>
</p>
</div>


