<h1>Enter Password.</h1>
<p>
<?php
    echo $this->Session->flash();
?>
<?php
    echo $this->Form->create(false, array('action'=>'login'));
    echo $this->Form->password('passwd');
    echo $this->Form->hidden('userId', array('value'=>$userId));
    echo $this->Form->submit('login');
    echo $this->Form->end();
?>

</p>
</div>

