
<h1>Login</h1>

<p>
<?php
    echo $this->Session->flash();
?>
<?php
    echo $this->Form->create('User', array('action'=>'form'));
    echo $this->Form->input('User.email');
    echo $this->Form->submit('confirm');
    echo $this->Form->end();
?>
</p>
</div>


